**/.browse.vs.db*
# =========================================================
**/*.c
**/*.h
**/*.cpp
**/*.hpp

!_knot/refs/*.c
!_knot/refs/*.h
!_knot/refs/*.cpp
!_knot/refs/*.hpp
# =========================================================